/* src/App.css */
.canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .start-button, .tour-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .start-button {
    bottom: 25%;
    font-size: 24px;
    padding: 10px 20px;
    transition: transform 0.3s ease; /* Animació suau en hover */
  }
  
  .start-button:hover {
    transform: translateX(-50%) scale(1.1); /* Creix una mica en fer hover */
  }
  
  .tour-text {
    bottom: 15%;
  }
  
  .info-text {
    position: absolute;
    top: 10%;
    left: 5%; /* Redueix el marge a l'esquerra */
    width: 30%; /* Limita l'amplada al 30% de la pantalla */
    text-align: justify;
    font-size: 14px; /* Fa el text més petit */
  }
  